<!DOCTYPE html>

<%- include('partials/header') %>
<div id="bg"></div>
<form>
  <div class="form-field">
    <input type="var" name="Name" placeholder="Name" required />
  </div>
  <div class="form-field">
    <input type="email" placeholder="Email / Username" required />
  </div>
  <div class="form-field">
    <input type="password" placeholder="Password" required />
  </div>
  <div class="form-field">
    <button class="btn" type="submit">Log in</button>
  </div>
</form>
<%- include('partials/footer') %>
