@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;600&display=swap');
*{
    margin: 00;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
	background-color: #f1f0f0;
}
.header{
    padding:2rem 1.5%;
    height: 5%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff; 
}
.dropbtn {
    background-color: #fff;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    /* font-family: cursive; */
  }
  .profile {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #e5e5e5;}
  .profile:hover .dropdown-content {
    display: block;
  }
  .profile:hover .dropbtn {
    background-color:#e5e5e5;
  }
/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 18%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 55px;
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 200px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 0px 8px 20px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* Style the button that is used to open the sidepanel */
.openbtn {
  /* margin-top: -39.5%; */
  /* position: fixed; */
  font-size: 20px;
  cursor: pointer;
  background-color:#fff;
  color: black;
  width: 3%;
  /* padding: 10px 15px; */
  border: none;
  /* font-family: cursive; */
  height: 62px;
}

.openbtn:hover {
  background-color: #444;
}
.subcards {
  /* margin:15px; */
  /* padding:5px; */
  background-color: white;
  width:71%;
  height: 30%;
  overflow: auto;
  border-radius: 0px;
  text-align:justify;
  /* margin-top: -25%; */
  margin-left: 20%;
  /* margin-right: 10%; */
  margin-bottom: 29px;
  flex-direction: row;
}
.status-card{
  margin: 15px;
  height: 100%;
}

.wrapper{
  display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.main-body{
  display: flex;
  position: relative;
  flex-direction: row;
}
.card-wrapper{
  position: relative;
    width: 100%;
    padding-right: 53px;
    padding-top: 39px;
    text-align: center;
}
.left{
  padding: 2%;
    float: left;
    width: 69.99999%;
}
.right{
  padding: 2%;
  float: left;
  width: 29.99999%;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn {
  margin-top: 8%;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.475rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
h3{
  padding-bottom: 4%;
}
a{
  text-decoration: none;
}h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
#multi-step-form-container {
  margin-top: 5rem;
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.pl-0 {
  padding-left: 0;
}
.mt-3 {
  margin-top: 2rem;
}
.d-none {
  display: none;
}
.form-step {
  border: 1px solid black;
  border-radius: 20px;
  padding: 2rem;
}
.leftone{
  padding: 2%;
  width: 49.99%;
  float: left;
}
.rightone{
  width: 49.99%;
  float: left;
  padding: 2%;
}
.font-normal {
  font-weight: normal;
}
ul.form-stepper {
  counter-reset: section;
  margin-bottom: 3rem;
}
ul.form-stepper .form-stepper-circle {
  position: relative;
}
ul.form-stepper .form-stepper-circle span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.form-stepper-horizontal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
ul.form-stepper > li:not(:last-of-type) {
  margin-bottom: 0.625rem;
  -webkit-transition: margin-bottom 0.4s;
  -o-transition: margin-bottom 0.4s;
  transition: margin-bottom 0.4s;
}
.form-stepper-horizontal > li:not(:last-of-type) {
  margin-bottom: 0 !important;
}
.form-stepper-horizontal li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.form-stepper-horizontal li:not(:last-child):after {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 1px;
  content: "";
  top: 32%;
}
.form-stepper-horizontal li:after {
  background-color:black;
}
.form-stepper-horizontal li.form-stepper-completed:after {
  background-color: #4da3ff;
}
.form-stepper-horizontal li:last-child {
  flex: unset;
}
ul.form-stepper li a .form-stepper-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 0;
  line-height: 1.7rem;
  text-align: center;
  background:rgba(0, 0, 0, 0.38);
  border-radius: 50%;
}
.form-stepper .form-stepper-active .form-stepper-circle {
  /* background-color: #4361ee; */
  color: #fff;
}
.form-stepper .form-stepper-active .label {
  /* color: #4361ee;  */
}
.form-stepper .form-stepper-active .form-stepper-circle:hover {
  /* background-color: #4361ee !important; */
  color: #fff !important;
}
.form-stepper .form-stepper-unfinished .form-stepper-circle {
  background-color: #f8f7ff;
}
.form-stepper .form-stepper-completed .form-stepper-circle {
  background-color: #0e9594 !important;
  color: #fff;
}
.form-stepper .form-stepper-completed .label {
  color: #0e9594 !important;
}
.form-stepper .form-stepper-completed .form-stepper-circle:hover {
  background-color: #0e9594 !important;
  color: #fff !important;
}
.form-stepper .form-stepper-active span.text-muted {
  color: #fff !important;
}
.form-stepper .form-stepper-completed span.text-muted {
  color: #fff !important;
}
.form-stepper .label {
  font-size: 1rem;
  margin-top: 0.5rem;
}
.form-stepper a {
  cursor: default;
}
.basic-details{
  padding: 8% 10% 5% 10%;
}
.buyer{
  padding: 0.5%;
  float: left;
  width: 49.99999%;
}
/* .info{
  margin-left: 25%;
} */

.form-stepper .green-active-text {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.green-active-text {
  color: green;
}

.form-stepper .red-active-text {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.red-active-text {
  color: red;
}